body{
    background-color: rgb(250, 150, 150)
}
#profile_image{
    border: 2px dotted black;
}
    table tr:even{
        background-color: rgba(250,250,250,0.8)

    }
    .myheader{
  text-align: center;
  background-color: white ;
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbx060116masterclass01-1550601705.jpg);
}

.anisha-pic{
    border-radius: 50%;
}
.carousel-item {
 height: 400px;
    text-align: center;
}

.item1 {
  background-color:red;
  
}

.item2 {
  background-color:yellow;

}

.item3 {
  background-color:blue;

}
